{% extends 'base.html.twig' %}

{% block content %}
    {% if status_code == 404 %}
        <div class ="center-block-other" >
            <h1>Данная страница не существует {{ status_code }}</h1>
        </div>
    {% elseif status_code == 403 %}
        <div class ="center-block-other" >
            <h1>Доступ к данной странице запрещен {{ status_code }}</h1>
        </div>
    {% elseif status_code == 500 %}
        <div class ="center-block-other" >
            <h1>Непредвиденная ошибка сервера {{ status_code }}</h1>
        </div>
    {% elseif status_code == 503 %}
        <div class ="center-block-other" >
            <h1>Service Temporarily Unavailable {{ status_code }}</h1>
        </div>
    {% endif %}
{% endblock %}