<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/blog/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/blog/css/clean-blog.css') }}" rel="stylesheet">

    <!-- Stylesheets -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700%7CUbuntu:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>

    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('index') }}">На главную</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right">
                <form method="post" action="{{ path('news_search') }}">
                    <input type="text" name="text_search" class="input-text" title="введите текст для поиска" placeholder="поиск по тексту">
                    <input type="submit"  class="btn btn-info" placeholder="Поиск">
                </form>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a></p>
</footer>

{% block main_javascripts %}
    <script src="{{ asset('bundles/blog/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/blog/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block dop_javascripts %}
{% endblock %}

</body>
</html>
