{% extends 'base.html.twig' %}

{% block title %}Simple Blog{% endblock %}

{% block body %}

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">Новости</h1>
        </div>
        <div class="row">
            {{  include('BlogBundle:includesTemplate:blogPost.html.twig', { 'blogs': blogs, 'BLOGS_IN_PAGE': BLOGS_IN_PAGE })  }}
            {{  include('BlogBundle:includesTemplate:blogPopular.html.twig', { 'most_popular': most_popular })  }}
        </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}

