<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <h3>Самое популярное за неделю</h3>
    {% if most_popular %}
        {% for popule in most_popular %}
            <div class="sidebar-module sidebar-module-inset">
                <h4>Пост #{{ loop.index }}
                    {% if popule.HashTagsAsArray|length > 0 %}
                        {% for tag in popule.HashTagsAsArray  %}
                            <a href="{{ path('hashtag', {'tag': tag} ) }}">#{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </h4>
                <p>{{ popule.messageText }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>