<div class="col-sm-8 blog-main">
    {% if blogs %}
        {% for article in blogs %}

            {% if loop.index == 1 %}
                {% set timestamp = article.DateCreateNoHours %}
            {% endif %}

            {% if timestamp != article.createDate|date('Y-m-d')  %}
                {% set timestamp = article.DateCreateNoHours %}
                <h1 class="news-header"> Новости за  {{ timestamp|date('d.m.Y') }}  </h1>
            {% elseif loop.index == 1 %}
                <h1 class="news-header"> Новости за {{ timestamp|date('d.m.Y') }}  </h1>
            {% endif %}

            <div class="blog-post">

                <h2 class="blog-post-title">
                    {% if app.request.query.get('page') == '' or app.request.query.get('page') == 1  %}
                        Пост #{{ loop.index }}
                    {% else %}
                        {%  set page_count = loop.index + ( (app.request.query.get('page')-1) * BLOGS_IN_PAGE )  %}
                        Пост #{{ page_count }}
                    {% endif %}
                </h2>

                <p class="blog-post-meta">{{ article.createDate|date('d.m.Y H:i') }}
                    {% if article.HashTagsAsArray|length > 0 %}
                        {% for tag in article.HashTagsAsArray  %}
                            <a href="{{ path('hashtag', {'tag': tag} ) }}">#{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </p>

                <p class="blog-post-message">{{ article.messageText }}</p>
            </div>
        {% endfor %}
    {% endif %}


    <div class="navigation">
        {{ knp_pagination_render(blogs) }}
    </div>

</div>
